.header {
    width: fit-content;
    margin: 20px auto 0;
    display: flex;
    gap: 8px;
    background-color: var(--surface);
    border-radius: var(--rd);
    padding: 8px;
    position: relative;
    border: var(--stroke);
    position: fixed;
    left: 0;
    right: 0;
}

.nav-indicator {
    position: absolute;
    background-color: var(--active-bg);
    border-radius: var(--rd);
    transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
}

.nav-item {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 15px;
    color: var(--unactive);
    padding: 16px 27px;
    border-radius: var(--rd);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
    transition: 200ms ease-in-out;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-item.active {
    color: var(--active);
}

.nav-item.active:hover {
    transform: scale(1);
}