.main.home {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
}

.home.first {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first.title {
    font-size: 120px;
    font-weight: 700;
}

.home.link {
    display: flex;
    gap: 28px;
    align-items: center;
}

.home.link a {
    transition: 200ms ease-in-out;
}

.link.card {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--surface);
    border: var(--stroke);
    border-radius: var(--rd);
    padding: 10px 13px;
    font-size: 20px;
    font-weight: 700;
}

.home.second {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    font-size: 24px;
    margin-bottom: auto;
    margin-top: 15px;
}

.second.button {
    font-size: 20px;
    font-weight: 700;
    background-color: var(--active);
    padding: 13px 25px;
    border-radius: var(--rd);
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.home.link a:hover {
    transform: scale(1.1);
}

.second.button:hover {
    transform: scale(1.1);
}