.main.home {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
}

.home.first {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first.title {
    font-size: 140px;
    font-weight: 700;
}

.home.link {
    display: flex;
    gap: 28px;
    align-items: center;
}

.link.card {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--surface);
    border: var(--stroke);
    border-radius: var(--rd);
    padding: 10px 19px;
}